.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 2rem;
  background: #f3f4f6;
  min-height: 100vh;
}

.main-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: red;
}

.row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.counter-box {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.counter-box h2 {
  margin-bottom: 1rem;
  color: #111827;
}

.count {
  font-size: 3rem;
  color: #3b82f6;
  margin: 1rem 0;
}

.btn-group button {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #C02125;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-group button:hover {
  background-color: green;
}
